<h3 class="text-center">User Role Management</h3>
<hr />
<div class="row" style="margin-bottom:10px;">
    <div class="text-center">
        <a asp-action="Index" asp-controller="UserRoleManagement" class="btn btn-primary">View Users</a>
        <a asp-action="DisplayRoles" class="btn btn-success mr-2">View Roles</a>
        <a asp-action="AddUserToRole" class="btn btn-info mr-2">Assign User To Role</a>
    </div>
</div>

<hr />