@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<string>
<form asp-controller="Home" asp-action="BurialList" asp-route-pageNum="1" method="get">
    <select name="NS" onchange="this.form.submit()">
        <option value="">North South</option>
        @foreach (string t in Model)
        {

            if (ViewBag.SelectedNS == t)
            {
                <option value="@t" selected>@t</option>
            }
            else
            {
                <option value="@t">@t</option>
            }

        }
    </select>

</form>
