@{
}
@model IEnumerable<string>
<form asp-controller="Home" asp-action="BurialList" method="get">
    <select name="direction" onchange="this.form.submit()">
        <option value="">Direction</option>
        @foreach (string t in Model)
        {

            if (ViewBag.SelectedDirection == t)
            {
                <option value="@t" selected>@t</option>
            }
            else
            {
                <option value="@t">@t</option>
            }

        }
    </select>

</form>