@{
}
@model IEnumerable<string>
<form asp-controller="Home" asp-action="BurialList" asp-route-pageNum="1" method="get">
    <select name="hair" onchange="this.form.submit()">
        <option value="">Hair</option>
        @foreach (string t in Model)
        {
            
            if (ViewBag.SelectedHair == t)
            {
                <option value="@t" selected>@t</option>
            }
            else
            {
                <option value="@t">@t</option>
            }
            
        }
    </select>

</form>