
@{
}
@model IEnumerable<string>
<form asp-controller="Home" asp-action="BurialList" method="get">
    <select name="area" onchange="this.form.submit()">
        <option value="">Area</option>
        @foreach (string t in Model)
        {
            
            if (ViewBag.SelectedBnum == t)
            {
                <option value="@t" selected>@t</option>
            }
            else
            {
                <option value="@t">@t</option>
            }
            
        }
    </select>

</form>