@{
}
@model IEnumerable<string>

<form asp-controller="Home" asp-action="BurialList" method="get">
    <select name="dage" onchange="this.form.submit()">
        <option value="">All Death Ages</option>
        @foreach (string t in Model)
        {
            <option value="@t">@t</option>
        }

    </select>
</form>