@{
    ViewData["Title"] = "Home";
}

<header class="py-5 image-container">
    <img src="lib/img/sand.jpg" class="img-fluid" alt="Fag el-Gamous">
    <div class="bg-image-full text-overlay">
        <div class="text-center my-5">
            <h1 class="text-white fs-3 fw-bolder">Fag el-Gamous</h1>
            <p class="text-white-50 mb-0">Way of the Water Buffalo</p>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <p>
                Fag el-Gamous, located on the eastern edge of the Fayoum Depression, is a well-known Graeco-Roman necropolis spreading over 125 hectares of land. Over 1000 burials have been unearthed from this cemetery, with a high burial density observed, ranging from 0.3 to 3.0 meters deep. The mummies discovered at this site have provided valuable data to researchers. The burial locations are systematically arranged using coordinates, with each square divided into smaller squares. This website provides multiple ways for users to visualize and interact with the data that has been collected in relation to this burial site.
            </p>
            <br />
            <a class="btn btn-lg btn-outline-dark" asp-controller="Home" asp-action="BurialList">View Data</a>
        </div>
    </div>
</section>