html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.image-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.hidden {
    display: none;
}

#cookieConsent {
    position: fixed;
    right: 15px;
    left: 15px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    margin-top: 100px; /* Change this to the height of your footer */
}

footer {
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separate-formelement {
    margin-bottom: 5px;
}
.separate-button {
    margin-top: 15px;
    margin-bottom: 15px;
}